// Dark theme variables
// Inspired on One Dark theme

$black:          #000000;
$bright-black:   #5c6370;
$red:            #e06c75;
$bright-red:     #e06c75;
$green:          #98c379;
$bright-green:   #98c379;
$yellow:         #d19a66;
$bright-yellow:  #d19a66;
$blue:           #61afef;
$light-blue:     #61afef;
$magenta:        #c678dd;
$light-magenta:  #c678dd;
$cyan:           #56b6c2;
$light-cyan:     #56b6c2;
$white:          #abb2bf;
$bright-white:   #ffffff;
$text:           #5c6370;
$bold-text:      #abb2bf;
$selection:      #3a3f4b;
$cursor:         #5c6370;
$background:     #1e2127;
