// Dark theme variables
// Inspired on One Dark theme

$background:     #31343f;
$black:          #1e2127;
$light-black:    #5c6370;
$red:            #e06c75;
$light-red:      #e06c75;
$green:          #98c379;
$light-green:    #98c379;
$yellow:         #d19a66;
$light-yellow:   #e8b17d;
$blue:           #404552;
$light-blue:     #61afef;
$magenta:        #c678dd;
$light-magenta:  #c678dd;
$cyan:           #56b6c2;
$light-cyan:     #56b6c2;
$white:          #abb2bf;
$light-white:    #ffffff;
$text:           #5c6370;
$bold-text:      #abb2bf;
