.p9lUpf
  background-color $background

.DyOaYd
  background-color $black

.Kb2sf.CCDcoc .WpDZC
.TgcD5e
  color $white

.WnqCuf
  background-color rgba(255, 255, 255, 0.1)

// Textarea editing event
.j3nyw
  color darken($white, 15%)

// Toolbar editing event
.Erb9le.CIy9F
  background-color lighten($background, 5%)

// Toolbar icons
.qmMNRc
  color darken($white, 15%)

// Quick add event
.twhhs.s2r4Od .Fxmcue
  background-color $blue

.ij27gb .Fxmcue
  .NPEfkd.RveJvd.snByac
    color $gray-blue

.Y5sE8d .l4V7wb
.YhQJj .l4V7wb, .An19kf .l4V7wb
  background-color $blue

// Move box header
.wmCMbe
  background-color $header-box-bg
  box-shadow inset 0 1px 0 $border-gray
