// Mini calendar
// -----------------------------------------------------------------------------

// Selectors
days = '.W0m3G'
mini-calendar = '.q1j8lf'

// Days circle
{days} .r4nke
  background-color $background

// Days background
{days}::before
  background-color $background

// Current month name
.MSZkRb .r4nke
  color $white

// Improve box paddings
{mini-calendar}
  padding 16px

// Current month days
{days}.Io4vne.iMprOe.S3hgjf
  color #fff

// Selected day
selected-day = '.i8dSE'
{days}.Io4vne.iMprOe.S3hgjf{selected-day}.Ic3tg.folmac
  // background-color $blue

// Selected day color text
{selected-day} .r4nke
  color #ffaeb4

// Today
today = '.TUH0Sd'
{days}.Io4vne.iMprOe.S3hgjf{today}.Aibntc
  //

{today} .r4nke
  color $blue
  background-color #fff
