.Kk7lMc-DWWcKd-OomVLb-haAclf
  background-color $black

div.gboEAb
  border-left-color $light-black

.Kk7lMc-QWPxkf-LgbsSe.DWWcKd-OomVLb-LgbsSe-barxie
  .DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf
  .Kk7lMc-Ia7Qfc-CZjX4e & .DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf
    background-color $black
