body
  background-color $blue

.hEtGGf::after
  background none

.SaBhMc
  background-color fade-out($black, 0.75)

.u5sQsb
  color $white

.IIB0tc .ULpymb
  background-color $background

.qXIcZc .ULpymb.rFrNMe
  border-radius 3px

.ULpymb .zHQkBf
  color $white

.OabDMe
  background-color saturate(lighten($blue, 25%), 10%)

.VOEIyf .jBmls
  background-color $blue

.oKubKe[aria-selected='true']
  background-color rgba(0, 0, 0, 0.15)

.NI2kfb
  color $white

.uQ1ixe .snByac
  color $dark-white

// Create new event button
.dwlvNd
  left 26px

.wJGlHe.SaBhMc:not(.jVwmLb)
  border-radius 4px

// Month calendar
.SoBqBf
.OWyNBb
  font-size 9px

.W0m3G .r4nke:nth-child(even)
  background-color rgba(255, 255, 255, 0.025)

// Compose button
.buGMKc
.wJGlHe.SaBhMc.SaBhMc.SaBhMc:not(.jVwmLb)
  height 48px !important
  border-radius 3px
  background-color $background

// Compose button text
.mr0WL
  color $white

// Fix text color after some time
.toUqff
  opacity 0.5

.toUqff
.o8t45d
  color $white
