// Dark theme variables

$black         = #1e2127
$background    = #31343f
$light-black   = #5c6370
$dark-white    = #7f848e
$white         = #abb2bf
$light-white   = #ffffff
$red           = #e06c75
$light-red     = #e06c75
$green         = #98c379
$light-green   = #98c379
$yellow        = #d19a66
$light-yellow  = #e8b17d
$blue          = #404552
$gray-blue     = #596581
$light-blue    = #61afef
$magenta       = #c678dd
$light-magenta = #c678dd
$cyan          = #56b6c2
$light-cyan    = #56b6c2
