// Sidebar
.xWId8e
  background-color $blue

// Selected optiongroup
.cAYGed.KKjvXb .Ioup7e
  background-color $background
  color $white

// Selected option
.DaQ2rc
  &.KKjvXb .Oxnkef
    border-left-color $dark-white
    color $dark-white

  &:first-child::before
    margin-top 0

  .NI2kfb
    margin-top 0
    margin-bottom 0
    padding-top 6px
    padding-bottom 6px

// Personal agenda configurations
.nxPHec
  color $dark-white

// Navbar bottom border
body[data-viewfamily=SETTINGS] .SGWAac
  border-top-color $light-black

// Unnecessary gradient border below navbar
.a0xMze.T8M5bd::after
  content unset

// Settings cards
.MDfQ7
  background-color $background

  .O1gyfd
    color $white

  .jZ0DTb
  .HLI7qf
  .Kb2sf
  .MDfQ7
  .Qfwgwb // Textarea
    background-color $black

  // Select text
  .HLI7qf .c7fp5b
    color $white

  // Checkbox
  .uHMk6b
    border-color $black

  // Help text
  .uFmiXb.RDPZE .snByac
    color $dark-white

// Search agendas items
.Ccr7Rb
  color $white
