// Layout
// =====================================================
// TODO: organize classes in separate files

// Sidebar colors
.HDIIVe {
  background-color: #363636;
  color: #e9e9e8;
}

// Better month name on sidebar
.MSZkRb .r4nke {
  font-size: 16px;
}

// Hide current month on header
.rSoRzd {
  display: none;
}

.NI2kfb > content,
.MSZkRb {
  color: #fdfefd;
}

.uQ1ixe .snByac {
  color: #9fa0a0;
}

.I2LGc:hover {
  background-color: transparent;
}

// Circles of days
.W0m3G .r4nke {
  background-color: transparent;
}

// Day numbers
.iMprOe {
  color: #e6e9e4;
}

// Plus icon to add new event
.rF3YF {
  color: #e0e0e0;
}

// Borders separators
.T8CF3c,
.qZvm2d-clz4Ic {
  border-bottom-color: #444;
}

// Input text
.IIB0tc .ULpymb {
  background-color: #454546;
}

// Input text content alignment
.ULpymb .aXBtI {
  top: 5px;
}

// Input text border alignment
.ULpymb .cXrdqd {
  bottom: -7px;
}

// Input text border color
.OabDMe {
  background-color: #3d5b8c;
}

// Maybe these classes means the current day
.TUH0Sd .r4nke,
.TUH0Sd:focus .r4nke,
.TUH0Sd:hover .r4nke,
.TUH0Sd.i8dSE.uGtG7d .r4nke {
  background-color: #3d5b8c;
}

// Background of agendas checkboxes
.uHMk6b {
  border: 8px solid #363636;
  left: -8px;
  top: -8px;
}

.uVccjd {
  border-radius: 1px;
}

// Check positioning
.N2RpBe .TCA6qd {
  top: 6px;
}

// Distance from checkbox and agenda name
.OLw7vb {
  width: 36px;
}

// Different background for weekend
.PhLhOd.elYzab-cXXICe-Hjleke:first-of-type,
.PhLhOd.elYzab-cXXICe-Hjleke:last-of-type,
.t8qpF:first-child,
.t8qpF:last-child {
  background-color: #f8f8f8;
}
