// Calendar background
.tNDBE
  background-color $background

  &:not(.Wyo4Qe)
    border-left-color $light-black

body[data-viewfamily=EVENT]
body[data-viewfamily=SCHEDULE]
body[data-viewfamily=SEARCH]
  .SGWAac
    border-top-color $light-black

.lYYbjc
  background-color $background

.OCQPo
  background-color $background

.tNDBE
  margin-left 0

.QIadxc
  border-bottom-color $light-black

.PhLhOd
.t8qpF
  border-right-color $light-black

.g3dbUc.smECzc
  color $white

.g3dbUc.UflSff
  color fade-out($white, 0.8)

// Current day
.t8qpF.elYzab-cXXICe-Hjleke.YK7obe.ef2wWc
  background-color rgba(255,255,255,0.05)

// Week view background
.v83gc
  background-color $background

.w61Ns
.GENA3c
  background-color $background

.SU7tYb.F262Ye
  background-color $background

.C5Jlgc
  border-left-color $light-black

.CIFHgc
.EdAri
.yEkOpe
.YvjgZe
.YvjgZe.Qbfsob
  border-right-color $light-black

.wyrRZc
  border-top-color $light-black

.mmsF1c::after
  border-bottom-color $light-black

.K2fuAf .W0m3G .r4nke
  background-color $background

.ecKr0
  background-color rgba(255,255,255,0.05)

.YK7obe .yzYBvd
  color $white

// Day number on week view
.KSxb4d.F262Ye
body.geSgge .KSxb4d.F262Ye
  background-color $gray-blue

.qAeuG.F262Ye
  color $gray-blue

// Past events
.g3dbUc.UflSff
  color rgba(171,178,191,0.9)

.yEkOpe.F262Ye
  background-color $background

// Current day week header
.KSxb4d.F262Ye
body.geSgge .KSxb4d.F262Ye
  background-color $gray-blue !important
  color $white
  transition background-color ease 0.25s

  &:hover
    background-color lighten($gray-blue, 10%) !important

// View mode dropdown
.JPdR6b
  background-color rgba(30,33,39,0.75)

  &:before
    content ''
    filter blur(4px)

// GMT unnecessary background
.Gk2izd
  background-color initial

// Gradient border
.J2aUD.T8M5bd .sx5BGe::before
.SGFqbe.T8M5bd .sx5BGe::before
.J2aUD.T8M5bd .qmFsL::after
.SGFqbe.T8M5bd .qmFsL::after
  background-image initial

// Box-shadow
.J2aUD.T8M5bd .qmFsL::before
.SGFqbe.T8M5bd .qmFsL::before
  box-shadow inset 0 1px 4px 0 rgba(0,0,0,0.1),
    inset 0 2px 4px -1px rgba(0,0,0,0.1)

// Next days header
.MmhHI.N4XV7d
  color $white

.MVMVEe
  border-left-color $light-black
