// Floating card when click an event card
.JtukPc
  background-color $black

.fqZQ1b .NI2kfb
.EgH9k .JAPzS
  color $white

.agOyMd .JAPzS
  color $dark-white

.agOyMd div.DN1TJ
  color $light-black

.EgH9k div.DN1TJ
  color $light-black

.pdqVLc .NI2kfb
  color $white

// Confirm box inside floating card
.NAFvr
  background-color $background

.YTCBlf
.UQuaGc
  color $white

.mKdssd
  background-color $light-black

// Confirm box
.JPdR6b
  background-color $black

.z80M1
  color $white

.kCtYwe
  border-top-color $light-black

.whsOnd.zHQkBf
  color $white
