// Floating card when click an event card
.JtukPc
  background-color $black

.fqZQ1b .NI2kfb
.EgH9k .JAPzS
  color $white

.agOyMd .JAPzS
  color $dark-white

.agOyMd div.DN1TJ
  color $light-black

.EgH9k div.DN1TJ
  color $light-black

.pdqVLc .NI2kfb
  color $white

// Confirm box inside floating card
.NAFvr
  background-color $background

.YTCBlf
.UQuaGc
  color $white

.mKdssd
  background-color $light-black

// Confirm box
.JPdR6b
  background-color $black

.z80M1
  color $white

.kCtYwe
  border-top-color $light-black

.whsOnd.zHQkBf
  color $white

// Type of event
.qmv2fc
  // Active
  &.KKjvXb
    background-color $light-black
    color $white
    &:hover
      background-color lighten($light-black, 10%)

  // Others
  &.kaAt2:hover
    background-color darken($light-black, 20%)
    color $white

// Animated border
.shdZ7e
  .cXrdqd
    background-color $gray-blue

  // Without animation
  .mIZh1c
    background-color $light-black

// Time fields
.WpDZC
  color $white

.BvQsje .Kb2sf.u3bW4e
  &, &:hover
    background-color $light-black

  // Animated border
  .cXrdqd
    background-color $gray-blue

// Time dropdown
.gHQcAb
  background-color $background
  color $white

// Selected time
.VKy0Ic[aria-selected="true"]
  background-color $light-black
  color $white

// Select agenda button
.jT5e9
  color $white

// Select agenda dropdown
.ncFHed
  background-color $background
  color $white

  // Selected item
  .MocG8c.KKjvXb
    background-color $light-black
    color $white

// Lembrete
.MocG8c
  color $white

// Discard confirmation dialog
.I7OXgf
  background-color $black
  color $white

  // Buttons
  .UQuaGc
    border 1px solid $light-black

// Radio buttons
.n0bXQ
  .Id5V1
  .nQOrEb
    border-color $gray-blue
