.p9lUpf
  background-color $background

.DyOaYd
  background-color $black

.Kb2sf.CCDcoc .WpDZC
.TgcD5e
  color $white

.WnqCuf
  background-color rgba(255,255,255,0.1)

// Textarea editing event
.j3nyw
  color darken($white, 15%)

// Toolbar editing event
.Erb9le.CIy9F
  background-color lighten($background, 5%)

// Toolbar icons
.qmMNRc
  color darken($white, 15%)
