// Event-card
.EfQccc
  margin-left 0
  margin-top 2px

  &:before
    box-shadow none

  &.Hrn1mc.EiZ8Dd:after
    border 0
    box-shadow -1px -1px 10px rgba(0,0,0,0.15)

  // Selected event
  &.KKjvXb:before
    box-shadow none

  &.MmaWIb.KKjvXb.EiZ8Dd::after
    border 0
    box-shadow 2px 2px 6px 4px rgba(0,0,0,0.25)
