// Navbar
header.gb_ja
  background-color $blue !important

// "Agenda" text and icons
a[aria-label="Agenda"]
  // Google Calendar logo
  > img
    filter saturate(25%)
  > span
    color $white !important

header svg
  color $white !important

// Previous and next icons
div.rF3YF
  svg
  span
    color $white
    fill $white

// Help icon
.OQPTvb
  filter invert(1)

// Icons active and hover
.Ewn2Sd.kNRrie:hover
.Ewn2Sd.kNRrie
.rF3YF:hover
  background-color rgba(32,33,36,0.039)

.NkK3Fc span[role="heading"]
  color $light-white

.gb_ja
  color $light-white

.gb_ne:not(.gb_oe) input::-webkit-input-placeholder
  color fade-out($light-white, 0.6)

.gb_ne.gb_oe
  background fade-out($black, 0.85)

// Today button and display mode button
.Cd9hpd
.GXlaye.qRI4pc
  border-color $white

  &:hover
    background-color $white

    // Display mode caret and buttons text color on hover
    .xmVoP
    .snByac
      color $blue

// Today button and display mode button text
.Cd9hpd
.GXlaye
  .snByac
    color $white

// Display mode caret
.xmVoP
  color $white

// Current month text
.rSoRzd
  color $white
