body
  background-color $blue

.hEtGGf::after
  background none

.W0m3G .r4nke
  background-color $blue

.W0m3G::before
  background-color $blue

.SaBhMc
  background-color fade-out($black, 0.75)

.u5sQsb
  color $white

.IIB0tc .ULpymb
  background-color $background

.qXIcZc .ULpymb.rFrNMe
  border-radius 3px

.ULpymb .zHQkBf
  color $white

.OabDMe
  background-color saturate(lighten($blue, 25%), 10%)

.VOEIyf .jBmls
  background-color $blue

.oKubKe[aria-selected="true"]
  background-color rgba(0,0,0,0.15)

.NI2kfb
  color $white

.MSZkRb .r4nke
  color $white

.W0m3G.elYzab-cXXICe-Hjleke.elYzab-DaY83b-ppHlrf
  &.iMprOe .r4nke
    color $light-black

  &.undefined.i8dSE.folmac.TUH0Sd.iMprOe .r4nke
    background-color $light-black
    color $white

  &.undefined.i8dSE.folmac.TUH0Sd.iMprOe ~ &.iMprOe .r4nke
    color $white

.uQ1ixe .snByac
  color $dark-white

// Create new event button
.dwlvNd
  left 26px

.wJGlHe.SaBhMc:not(.jVwmLb)
  border-radius 4px
