.NekIXe
  background-color $background

// Sidebar
.pljXM
  background-color $blue

.aDCdzb
  color $white

.LOewLb.KKjvXb
  background-color lighten($blue, 20%)

.kMp0We.Wm6kRe.huVZvb:hover
.GrxScd .SWigMc.Wm6kRe.huVZvb:focus
.kMp0We.gk6SMd.huVZvb
  background-color lighten($blue, 10%)

.LOewLb.KKjvXb .NI2kfb
  color $white

.Lzfnue
  background-color $black

.QUROo > *
.ETUnje > *
  color $white

.ETUnje
  border-top 1px solid $background

.v9Riof:hover
.v9Riof.KwL08c
  background-color rgba(31,133,181,0.04)

.a3PaRd
.WZ8Mdd
  color $white
