// Calendar background
.tNDBE {
  background-color: $background;

  &:not(.Wyo4Qe) {
    border-left-color: $light-black;
  }
}

body[data-viewfamily=EVENT],
body[data-viewfamily=SCHEDULE],
body[data-viewfamily=SEARCH] {
  .SGWAac {
    border-top-color: $light-black;
  }
}

.lYYbjc {
  background-color: $background;
}

.OCQPo {
  background-color: $background;
}

.tNDBE {
  margin-left: 0;
}

.QIadxc {
  border-bottom-color: $light-black;
}

.PhLhOd,
.t8qpF {
  border-right-color: $light-black;
}

.g3dbUc.smECzc {
  color: $white;
}

.g3dbUc.UflSff {
  color: fade-out($white, 0.8);
}

// Current day
.t8qpF.elYzab-cXXICe-Hjleke.YK7obe.ef2wWc {
  background-color: rgba(255, 255, 255, 0.05);
}

// Week view background
.v83gc {
  background-color: $background;
}

.w61Ns,
.GENA3c {
  background-color: $background;
}

.SU7tYb.F262Ye {
  background-color: $background;
}

.EdAri,
.yEkOpe,
.YvjgZe,
.YvjgZe.Qbfsob {
  border-right-color: $light-black;
}

.wyrRZc {
  border-top-color: $light-black;
}

.mmsF1c::after {
  border-bottom-color: $light-black;
}

.EfQccc {
  background-color: rgba(255, 255, 255, 0.8);
  // filter: blur(1px);
}

.K2fuAf .W0m3G .r4nke {
  background-color: $background;
}

// // Past events
// .NlL62b.EfQccc.elYzab-cXXICe-Hjleke.EiZ8Dd.UflSff.jKgTF {

// }

// // Future events
// .NlL62b.EfQccc.elYzab-cXXICe-Hjleke.LKeQwe.jKgTF {

// }

.ecKr0 {
  background-color: rgba(255, 255, 255, 0.05);
}

.YK7obe .yzYBvd {
  color: $white;
}
