// Calendar background
.tNDBE {
  background-color: #31343f;

  &:not(.Wyo4Qe) {
    border-left-color: $light-black;
  }
}

body[data-viewfamily=EVENT],
body[data-viewfamily=SCHEDULE],
body[data-viewfamily=SEARCH] {
  .SGWAac {
    border-top-color: $light-black;
  }
}

.lYYbjc {
  background-color: #31343f;
}

.OCQPo {
  background-color: #31343f;
}
.QIadxc {
  border-bottom-color: $light-black;
}

.PhLhOd,
.t8qpF {
  border-right-color: $light-black;
}

.g3dbUc.smECzc {
  color: $white;
}

.g3dbUc.UflSff {
  color: fade-out($white, 0.8);
}

// Current day
.t8qpF.elYzab-cXXICe-Hjleke.YK7obe.ef2wWc {
  background-color: rgba(255, 255, 255, 0.05);
}

// Week view background
.v83gc {
  background-color: #31343f;
}

.w61Ns,
.GENA3c {
  background-color: #31343f;
}

.SU7tYb.F262Ye {
  background-color: #31343f;
}

